@import '../../styles';

$input-number-size: 60px;
$input-number-height: 30px;

.input-number-group {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    appearance: none;
  }

  .input-group-button {
    height: $input-number-height;
    font-size: 0.8rem;
    line-height: calc(#{$input-number-size}/2 - 5px);
  }

  .input-number {
    height: $input-number-height;
    font-size: 0.8rem;
    width: $input-number-size;
    padding: 0 12px;
    /*vertical-align: top;*/
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }

  .input-number,
  .input-number-decrement,
  .input-number-increment {
    border: 1px solid $body-font-color;
    user-select: none;
    border-radius: $global-radius;
  }

  .input-number-decrement,
  .input-number-increment {
    display: inline-block;
    width: $input-number-height;
    background: $body-font-color;
    color: white;
    text-align: center;
    cursor: pointer;
  }
}
