<section id="product">

  <div class="grid-x small-up-1 medium-up-2 large-up-2 grid-padding-x grid-padding-y">

    <div class="cell">
        <img src="{{ product?.assets[0]?.preview }}" alt="{{ product?.name }}">
    </div>

    <div class="cell product-details">
      <h1>{{ product?.name }}</h1>
      <h3>{{ variant?.priceWithTax | euro }} </h3>

      <a class="button" data-toggle="addedToCartModal" (click)="buy()" style="width: 100%; margin-top: 10px;" >KOOP</a>
        <select *ngIf="product?.variants?.length > 1" #variant (change)="selectVariant(variant.value)">
          <option *ngFor="let variant of product?.variants" value="{{ variant.id }}">
            {{ variant.name }}
          </option>
        </select>
      <p [innerHTML]="product?.description" class="product-description"></p>
    </div>

  </div>

</section>
