<section id="products">

  <div class="grid-x grid-padding-x small-up-6">

    <div *ngFor="let collection of collections;" class="cell text-center auto">
      <a class="button tiny hollow" href="#">{{collection.name}}</a>
    </div>
  </div>

  <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-4">

    <div *ngFor="let product of products;" class="cell">
      <a routerLink="/product/{{ product.id }}">
        <div class="product-thumbnail">
          <app-async-image [src]="product.assets[0]?.preview" [alt]="product.name"></app-async-image>
        </div>
        <div class="product-overview-description">
          <p class="product-overview-price">{{ product.defaultPrice | euro}}</p>
          <p>{{ product.name }}</p>
        </div>
      </a>
    </div>
    <div *ngIf="products?.length === 0" class="small-12">
      Deze webshop heeft nog geen producten helaas...
    </div>

  </div>

</section>
