<section id="product">

  <div class="grid-x small-up-1 medium-up-2 large-up-2 grid-padding-x grid-padding-y">

    <div class="cell">
      <app-async-image [src]="asset?.preview"
                       [alt]="asset?.name"></app-async-image>

      <div *ngIf="assets?.length > 1" class="grid-x small-up-5" style="margin-right: -6px;">
        <div class="cell asset" *ngFor="let asset of assets;">
          <div class="product-thumbnail" (click)="setCurrentAsset(asset)">
            <app-async-image [src]="asset.preview " [alt]="asset.name"></app-async-image>
          </div>
        </div>
      </div>

    </div>

    <div class="cell product-details">
      <h1 *ngIf="soldOut"> SOLD OUT </h1>
      <h1 class="{{ soldOut ? 'sold-out': ''}}"> {{ product?.name }}</h1>
      <h3 class="{{ soldOut ? 'sold-out': ''}}">{{ variant?.priceWithTax | euro }} </h3>

      <a *ngIf="!soldOut" class="button" data-toggle="addedToCartModal" (click)="buy()" style="width: 100%; margin-top: 10px;">IN
        WINKELMAND</a>

      <a *ngIf="soldOut" disabled="true" class="button" data-toggle="addedToCartModal" style="width: 100%; margin-top: 10px;">SOLD OUT</a>

      <select *ngIf="product?.variants?.length > 1" #variant (change)="selectVariant(variant.value)">
        <option *ngFor="let variant of product?.variants" value="{{ variant.id }}">
          {{ variant.name }}
        </option>
      </select>
      <p [innerHTML]="product?.description" class="product-description"></p>
    </div>

  </div>

</section>
