<section id="products">

  <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-4">

    <div *ngFor="let product of products;" class="cell">
      <a routerLink="product/{{ product.id }}">
        <div class="product-thumbnail">
          <img src="{{ product.assets[0]?.preview }}" alt="{{ product.name }}">
        </div>
        <div class="product-overview-description">
          <p class="product-overview-price">{{ product.lowestPriceIncVAT | euro}}</p>
          <p>{{ product.name }}</p>
        </div>
      </a>
    </div>

  </div>

</section>
