*.launch
*.log
*.sqlite
*.sublime-workspace
.DS_Store
.c9/
.cache
.classpath
.env
.env.*
.history
.idea
.project
.sass-cache
.settings/
.temp
.vscode
Thumbs.db
__data__
bazel-out
chrome-profiler-events*.json
connect.lock
coverage
dist
lib/
libpeerconnection.log
node_modules
out-tsc
speed-measure-plugin*.json
tmp
typings
vendure/src/__admin-ui/src/
vendure/src/__admin-ui/static-assets
vendure/src/__admin-ui/angular.json
vendure/src/__admin-ui/package.json
vendure/src/__admin-ui/README.md
vendure/src/__admin-ui/tsconfig.json
!vendure/src/__admin-ui/dist/
vendure/static/email/test-emails/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
/packages/e2e/tests_output/
/directus-cms/uploads/
/directus-cms/directus_key.json
/vendure/key.json
/vendure/migrations/
_search.json
/clients/nuxt-poc/.output/
/clients/nuxt-poc/.nuxt/
shop.json
/packages/seo-migration/data/
