*.launch
*.log
*.sqlite
*.sublime-workspace
.DS_Store
.c9/
.cache
.classpath
.env
.env.*
.history
.idea
.project
.sass-cache
.settings/
.temp
.vscode
Thumbs.db
__admin-ui
__data__
bazel-out
chrome-profiler-events*.json
connect.lock
coverage
dist
libpeerconnection.log
node_modules
out-tsc
speed-measure-plugin*.json
tmp
typings
vendure/static/email/test-emails/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/vendure/src/__admin-ui/dist/
lib/
