// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// https://bulma.io/documentation/customize/variables/

$loop-dark: #131520;
$loop-soft-dark: #333232;
$loop-blue: #23395b;
$loop-blue2: #3b5f98;
$loop-red: #df3837;
$loop-red2: #e55f5e;
$loop-grey: #e7e7e7;
$loop-white: #ffffff;
$loop-green: #0cce6b;
$loop-orange: #f7dba7;
:root {
  --loop-soft-dark: #333232;
}

$text: $loop-soft-dark;
/*$primary: $loop-red;*/
$primary: $loop-blue;
$link: $loop-blue2;
$info: $loop-blue;
$success: $loop-green;
$warning: $loop-red2;
$danger: $loop-red;
$body-background-color: $loop-white;
$primary-invert: $loop-white;
$dark: $loop-soft-dark;
$light: $loop-grey;
$title-color: $loop-soft-dark;

$footer-background-color: $primary;
$footer-color: $primary-invert;

$rate-color-active: #51b27e;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-primary: 'Open Sans', 'Segoe UI', 'Apple SD Gothic Neo', 'Lucida Grande',
  'Lucida Sans Unicode', 'sans‑serif';
$family-secondary: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Tahoma',
  'sans‑serif';

$body-line-height: 1.7;
$control-radius: 6px;
$radius-small: 4px;
$box-shadow: 0;
$pagination-current-background-color: $loop-blue;

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// --------------------------------- END OF CUSTOM VARS -----------------------------------------------

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

.title {
  font-weight: 900;
}

h1 {
  @extend .title;
  @extend .is-1;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 2rem;
  }
}

h2 {
  @extend .title;
  @extend .is-2;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.6rem;
  }
}

h3 {
  @extend .title;
  @extend .is-3;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.4rem;
  }
}

h4 {
  @extend .title;
  @extend .is-4;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.2rem;
  }
}

h5 {
  @extend .title;
  @extend .is-5;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.1rem;
  }
}

h6 {
  @extend .title;
  @extend .is-6;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 0.9rem;
  }
}

.has-text-light h1,
.has-text-light h2,
.has-text-light h3,
.has-text-light h4,
.has-text-light h5,
.has-text-light h6 {
  color: $loop-grey;
}

section {
  margin-bottom: 3rem;
}

.button {
  font-weight: 700;
  @media screen and (max-width: $desktop) {
    font-size: 0.9rem;
  }
}

/** Make all buttons black **/
.button .is-primary {
  @extend .is-dark;
}

#side-basket button,
.checkout-steps a,
.checkout-steps button {
  @extend .is-primary;
}

.usps b {
  color: $loop-red;
}

/** Navbar stuff **/
.navbar-menu {
  background: $loop-red2;
  @media screen and (max-width: $desktop) {
    background: $loop-white;
  }
}

.content-container {
  margin-top: 70px;
  @media screen and (max-width: $desktop) {
    margin-top: 30px;
  }
}

.navbar-dropdown h5.navbar-item {
  margin-bottom: 0;
}

.navbar-dropdown {
  @media screen and (min-width: $desktop) {
    top: 102px;
    position: fixed;
  }
}

.footer a {
  @extend .has-text-light;
}

#mobile-navigation a {
  color: $text;
}

.rounded {
  border-radius: $control-radius;
}

.collapsed-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.collapsed-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
