// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// https://bulma.io/documentation/customize/variables/

$loop-dark: #131520;
$loop-soft-dark: #333232;
$loop-blue: #23395B;
$loop-blue2: #3b5f98;
$loop-red: #DF3837;
$loop-red2: #E55F5E;
$loop-grey: #dfdee6;
$loop-white: #ffffff;
$loop-green: #0CCE6B;
$loop-orange: #F7DBA7;

$text: $loop-soft-dark;
$primary: $loop-red;
$link: $loop-blue2;
$info: $loop-blue;
$success: $loop-green;
$warning: $loop-red2;
$danger: $loop-red;
$body-background-color: $loop-white;
$primary-invert: $loop-white;
$dark: $loop-dark;

$footer-background-color: $primary;
$footer-color: $primary-invert;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-primary: "Open Sans", "Segoe UI", "Apple SD Gothic Neo", "Lucida Grande", "Lucida Sans Unicode", "sans‑serif";
$family-secondary: "Roboto", "-apple-system", "BlinkMacSystemFont", "Tahoma", "sans‑serif";

$body-line-height: 2;

$control-radius: 6px;

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// --------------------------------- END OF CUSTOM VARS -----------------------------------------------

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
                $custom-colors
);



// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

h1 {
  @extend .title;
  @extend .is-1;
  @extend .is-family-secondary;
}

h2 {
  @extend .title;
  @extend .is-2;
  @extend .is-family-secondary;
}

h3 {
  @extend .title;
  @extend .is-3;
  @extend .is-family-secondary;
}

h4 {
  @extend .title;
  @extend .is-4;
  @extend .is-family-secondary;
}
h5 {
  @extend .title;
  @extend .is-5;
  @extend .is-family-secondary;
}
h6 {
  @extend .title;
  @extend .is-6;
  @extend .is-family-secondary;
}

/** Navbar stuff **/
.navbar-menu {
  background: $loop-red2;
  @media screen and (max-width: $desktop) {
    background: $loop-white;
  }
}
.navbar-dropdown h5.navbar-item {
  margin-bottom: 0;
}
.navbar-dropdown {
  @media screen and (min-width: $desktop) {
    /*width: 100vw;*/
    top: 105px;
    position: fixed;
  }
}
.footer a {
  @extend .has-text-light;
}
