@import '../../styles';

.cart-details {
  position: relative;
  padding-left: 10px;
}

.cart-name {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-price {
  color: darkgray;
  margin-bottom: 0;
}

.accent-row {
  background-color: whitesmoke;
}
