<a href="/">Terug naar de winkel</a>
<br>
<br>
<div *ngIf="order?.state !== 'PaymentSettled' && !error">
  <h1>Even geduld...</h1>
  <p>Je betaling wordt verwerkt</p>
</div>

<div *ngIf="error">
  <h1>Er is iets misgegaan</h1>
  <p style="color:red;">{{ error }}</p>
</div>

<div *ngIf="order?.state === 'PaymentSettled'">
  <h1>Bedankt!</h1>
  <p>Dit heb je besteld:</p>

  <div class="table-scroll">
    <table class="unstriped hover" style="font-size: 0.7rem;">
      <thead>
      <tr>
        <th>Product</th>
        <th>Prijs</th>
        <th>Aantal</th>
        <th>Totaal</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let line of order?.lines;">
        <td>{{ line.productVariant?.product?.name }}</td>
        <td>{{ line.productVariant?.priceWithTax | euro }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.totalPrice | euro }}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>Subtotaal:</td>
        <td></td>
        <td></td>
        <td>{{ order?.subTotal | euro }}</td>
      </tr>
      <tr>
        <td>Verzendkosten:</td>
        <td></td>
        <td></td>
        <td>{{ order?.shippingWithTax | euro }}</td>
      </tr>
      <tr>
        <td>Totaal:</td>
        <td></td>
        <td></td>
        <td>{{ order?.total | euro }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
