<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="Arial, Verdana" color="#343434" />
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text>
          <h1>
            Je bestelling bij {{ channelName }}
          </h1>
        </mj-text>
        <mj-divider border-color="#343434"></mj-divider>

        <mj-text>Bedankt voor je bestelling bij {{ channelName }}!</mj-text>

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
