// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// https://bulma.io/documentation/customize/variables/

$text: #3f3f3f;
$primary: black;
$link: #3f88c5;
$info: $link;
$success: #3bceac;
$warning: #ffba08;
$danger: #ef6461;
$dark: $text;

:root {
  --primary: $primary;
  --text: $text;
}

$footer-background-color: $primary;
$footer-color: $primary-invert;

//Custom bulma variables

$navbar-height: 6rem;
$navbar-item-img-max-height: 5rem;
$navbar-box-shadow-color: $black;
$navbar-box-shadow-size: 0px -5px 10px 0px;

$navbar-item-hover-background-color: none;
$navbar-item-hover-color: none;

$footer-padding: 1.5rem;
$footer-background-color: $white;
$footer-color: $black;

$widescreen-enabled: false;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-primary: 'Raleway';
$family-secondary: 'Raleway';

$control-radius: 0;
$radius-small: 0;

// --------------------------------- END OF CUSTOM VARS -----------------------------------------------

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

h3 {
  @extend .is-size-3;
}
