<mjml>
    <mj-head>
        <mj-attributes>
            <mj-all font-family="Arial, Verdana" color="#343434" />
        </mj-attributes>
    </mj-head>
    <mj-body>
        <mj-section background-color="#f5efef">
            <mj-column>
                <mj-text align="center" font-weight="bold" font-size="30px">Pinelab Shop</mj-text>
                <mj-text align="center">
                    Hoi Marc de Fotograaf, dit is een samenvatting van wat je hebt verkocht met je webshop in de maand november.
                </mj-text>
                <mj-divider border-color="#feada6"></mj-divider>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/euro.svg" alt="euro by flaticon.com/authors/kiranshastry" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">€500,00</mj-text>
                <mj-text align="center">Omzet deze maand!</mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-divider border-color="#feada6"></mj-divider>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/euro.svg" alt="euro by flaticon.com/authors/kiranshastry" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">€34,00</mj-text>
                <mj-text align="center">Average Order Value. Hoe hoger hoe beter.</mj-text>
            </mj-column>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/shopping.svg" alt="Shopping basket by flaticon.com/authors/freepik" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">77%</mj-text>
                <mj-text align="center">Shopping Cart Abandonment Rate. 77% van de klanten maakt hun bestelling niet af.</mj-text>
            </mj-column>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/customer.svg" alt="Customer by by flaticon.com/authors/freepik" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">Recurring Customers</mj-text>
                <mj-text align="center">3 Nieuwe klanten </mj-text>
                <mj-text align="center">2 Terugkerende klanten </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-divider border-color="#feada6"></mj-divider>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text align="center" font-size="20px">Best verkochte producten</mj-text>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/throphy-gold.svg" alt="Gold trophy by flaticon.com/authors/freepik" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">CLOUDS</mj-text>
                <mj-text align="center">12 x verkocht, voor totaal €250,00 </mj-text>
            </mj-column>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/throphy-silver.svg" alt="Silver trophy" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">WATER</mj-text>
                <mj-text align="center">12 x verkocht, voor totaal €250,00 </mj-text>
            </mj-column>
            <mj-column>
                <mj-image src="https://storage.googleapis.com/pinelab-shops-assets/angular-assets/throphy-bronze.svg" alt="Bronze trophy" width="50px"></mj-image>
                <mj-text align="center" font-size="20px">BLOODMOON</mj-text>
                <mj-text align="center">12 x verkocht, voor totaal €250,00 </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-divider border-color="#feada6"></mj-divider>
                <mj-text align="center">Wil je meer weten over bovenstaande data? Neem contact op via martijn@pinelab.studio of kijk op <a href="https://pinelab.studio/webshop">Pinelab.studio</a> </mj-text>
            </mj-column>
        </mj-section>

    </mj-body>
</mjml>