// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$text: #3f3f3f;
$primary: $text;
$link: #3f88c5;
$info: $link;
$success: #3bceac;
$warning: #ffba08;
$danger: #ef6461;
$dark: $text;

$footer-background-color: $primary;
$footer-color: $primary-invert;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-sans-serif: 'Work Sans';
$family-primary: 'Work Sans';

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

#side-basket button,
.checkout-steps a,
.checkout-steps button {
  @extend .is-primary;
}

h1 {
  @extend .is-size-1;
  @extend .mb-3;
}

h2 {
  @extend .is-size-2;
  @extend .mb-3;
}
h3 {
  @extend .is-size-3;
  @extend .mb-3;
}

h4 {
  @extend .is-size-4;
  @extend .mb-3;
}
