// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// https://bulma.io/documentation/customize/variables/

$text: #000000;
/*$primary: $loop-red;*/
$primary: blue;
$link: blue;
$info: blue;
$success: green;
$warning: orange;
$danger: red;
$body-background-color: white;
$primary-invert: white;
$dark: grey;
$light: grey;
$purple: #966FA4;
$light-purple: #B093BB;
$title-color: $text;
$footer-background-color: $primary;
$footer-color: $primary-invert;

$navbar-item-hover-background-color: $light-purple;
$navbar-item-active-background-color: $light-purple;
$footer-background-color: $purple;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-primary: "Poppins";

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// --------------------------------- END OF CUSTOM VARS -----------------------------------------------

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
        $custom-colors: ()
);


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


h4 {
  font-size: large;
  font-weight: 800;
}

.title {
  font-weight: 900;
}

section {
  margin-bottom: 3rem;
}

/* NAVBAR */

.navbar-menu {
  background: $light-purple;
  @media screen and (max-width: $desktop) {
    background: $light-purple;
  }
  justify-content: center;
}

.navbar-brand {
  align-items: stretch;
  display: block;
  justify-content: center;
  flex-shrink: 0;
  min-height: 3.25rem;
  background-color: $purple;
}

#navbar-items-wrapper {
  display: inherit;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;

}

.navbar-start {
  justify-content: center;
  margin-left: auto;
  width: 100%;
}

.navbar-item a:hover, .navbar-item a:focus {
  text-decoration: underline;
  font-weight: 800;
  color: $black;
  background-color: transparent !important;
}


/* SEARCHBAR */

.input, .input:hover, .input:focus, .input:focus-within {
  color: $black;
  border: solid 2px $black;
  background-color: $purple;
  box-shadow: none !important;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
  color: $black;
}

/* CUSTOM CURSOR */

.cursor {
  cursor: crosshair;
}

/* AMOUNT IN CART */

.wk-basket .cart-badge {
  background: $white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  color: $black;
  margin-left: -20px;
}

/* AMOUNT IN FAVOURITES */

.wk-favourites .cart-badge {
  background: $white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  color: $black;
  margin-left: -20px;
}

/* FOOTER */

a.navbar-item:focus, a.navbar-item:hover {
  font-weight: 800;
  color: $black;
}

/* HIGHLIGHTED */

.card-background-image {
  min-height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 82%;
}

.content h5 {
  margin-bottom: 0.4em;
  color: $black;
  font-weight: 800;
}

#top-5-packs {
  background-color: none;
}

/* IMAGE HOVER */

.image-hover {
  opacity: 1;
  transition: 0.1s;
}

.image-hover:hover {
  opacity: 0.5;
}

/* */

.content figure, .content figure:not(:last-child) {
  margin-left: 0px;
  margin-right: 1em;
  margin-bottom: 0;
}

.media + .media {
  border-top: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

#most-popular {
  background-color: $light-purple;
}

.hover-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.hover-container:hover .overlay {
  height: 100%;
}