// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// https://bulma.io/documentation/customize/variables/

$text: #000000;
/*$primary: $loop-red;*/
$primary: blue;
$link: blue;
$info: blue;
$success: green;
$warning: orange;
$danger: red;
$body-background-color: white;
$primary-invert: white;
$dark: grey;
$light: grey;
$purple: #966FA4;
$light-purple: #B093BB;
$title-color: $text;
$footer-background-color: $primary;
$footer-color: $primary-invert;

$navbar-item-hover-background-color: $light-purple;
$navbar-item-active-background-color: $light-purple;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-primary: "Poppins";

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// --------------------------------- END OF CUSTOM VARS -----------------------------------------------

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
        $custom-colors: ()
);


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


.title {
  font-weight: 900;
}

section {
  margin-bottom: 3rem;
}

/** Navbar stuff **/
.navbar-menu {
  background: $light-purple;
  @media screen and (max-width: $desktop) {
    background: $light-purple;
  }
  justify-content: center;
}

.navbar-brand {
  align-items: stretch;
  display: block;
  justify-content: center;
  flex-shrink: 0;
  min-height: 3.25rem;
  background-color: #966FA4;
}

#navbar-items-wrapper {
  display: inherit;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;

}

.navbar-start {
  justify-content: center;
  margin-left: auto;
  width: 100%;
}

.navbar-item a:hover, .navbar-item a:focus {
  text-decoration: underline;
  font-weight: 800;
  color: #000000;
  background-color: transparent !important;
}
/* AMOUNT IN CART */



.input {
  color: #000000;
  border: solid 2px #000000;
  background-color: $purple;
  box-shadow: none !important;
}


/* CUSTOM CURSOR */

.cursor {
  cursor: crosshair;
}

/* WAVKITS LOGO */

#logo {
  margin-left: 30px;
}

.wk-basket .cart-badge {
  background: white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  color: black;
  margin-left: -20px;
}

.wk-favourites .cart-badge {
  background: white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  color: black;
  margin-left: -20px;
}
