// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// https://bulma.io/documentation/customize/variables/

$text: #000000;
/*$primary: $loop-red;*/
$primary: blue;
$link: blue;
$info: blue;
$success: green;
$warning: orange;
$danger: red;
$body-background-color: white;
$primary-invert: white;
$dark: grey;
$light: grey;
$purple: #966FA4;
$light-purple: #B093BB;
$title-color: $text;
$footer-background-color: $primary;
$footer-color: $primary-invert;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-primary: "Poppins";

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// --------------------------------- END OF CUSTOM VARS -----------------------------------------------

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
        $custom-colors: ("purple": #966FA4, "light-purple": #B093BB)
);


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


.title {
  font-weight: 900;
}

h1 {
  @extend .title;
  @extend .is-1;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 2rem;
  }
}

h2 {
  @extend .title;
  @extend .is-2;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.6rem;
  }
}

h3 {
  @extend .title;
  @extend .is-3;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.4rem;
  }
}

h4 {
  @extend .title;
  @extend .is-4;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.2rem;
  }
}

h5 {
  @extend .title;
  @extend .is-5;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 1.1rem;
  }
}

h6 {
  @extend .title;
  @extend .is-6;
  @extend .is-family-secondary;
  @media screen and (max-width: $desktop) {
    font-size: 0.9rem;
  }
}

.has-text-light h1,
.has-text-light h2,
.has-text-light h3,
.has-text-light h4,
.has-text-light h5,
.has-text-light h6,
{
  color: #966FA4;
}

section {
  margin-bottom: 3rem;
}


/** Make all buttons black **/
.button .is-primary {
  @extend .is-dark
}

#side-basket button,
.checkout-steps a,
.checkout-steps button {
  @extend .is-primary;
}

.usps b {
  color: $purple;
}

/** Navbar stuff **/
.navbar-menu {
  background: $light-purple;
  @media screen and (max-width: $desktop) {
    background: $light-purple;
  }
  justify-content: center;
}

.navbar-brand {
  align-items: stretch;
  display: block;
  justify-content: center;
  flex-shrink: 0;
  min-height: 3.25rem;
  background-color: #966FA4;
}

.content-container {
  margin-top: 70px;
  @media screen and (max-width: $desktop) {
    margin-top: 30px;
  }
}

.navbar-dropdown h5.navbar-item {
  margin-bottom: 0;
  top: 135px;
  background-color: transparent !important;
}

.navbar-dropdown {
  @media screen and (min-width: $desktop) {
    border-top: 0px transparent;
  }
}

.navbar-dropdown a:hover {
  background-color: transparent !important;
}

.footer a {
  @extend .has-text-light;
}

#mobile-navigation a {
  color: $text;
}

.rounded {
  border-radius: $control-radius;
}

.collapsed-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.collapsed-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cart-badge {
  background: white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  color: black;
  margin-left: -20px;
}

.input {
  color: #000000;
  border: solid 2px #000000;
  background-color: transparent;
  box-shadow: none !important;
}

.cursor {
  cursor: crosshair !important;
}

#navbar-items-wrapper {
  display: inherit;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;

}

.navbar-start {
  justify-content: center;
  margin-left: auto;
  width: 100%;
}

#logo {
  margin-left: 30px;
}

.navbar-item a:hover {
  text-decoration: underline;
  font-weight: 800;
  color: #000000;
  background-color: transparent !important;
}

.navbar-link:focus:focus-within {
  text-decoration: underline;
  font-weight: 800;
  color: #000000;
  background-color: transparent !important;
}
