@import '../../node_modules/foundation-sites/scss/foundation';

$header-font-family: 'Roboto mono', monospace;
$header-font-weight: 400;
$header-color: #343434;
$body-font-family: Roboto, Helvetica, Arial, sans-serif;
$body-font-color: #343434;
$button-background-hover: #343434;
$button-background: $body-font-color;

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic pages
@include foundation-button;
//@include foundation-button-group;
//@include foundation-close-button;
//@include foundation-label;
@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic pages
@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
//@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Menu-based containers
// @include foundation-menu;
// @include foundation-menu-icon;
//@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
//@include foundation-dropdown-menu;

// Layout pages
@include foundation-off-canvas;
@include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
// @include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

label {
  color: $body-font-color;
}

.cta {
  background-color: #07beb8;
}

.success {
  color: #07beb8;
}

.reveal {
  height: auto;
  min-height: 0;
  width: auto;
}

.product-thumbnail {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.product-thumbnail img {
  display: table-cell;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.small-font {
  font-size: 0.8rem;
}

.reveal {
  max-width: 25rem;
}
h1 {
  margin-bottom: 20px;
}

.sold-out {
  text-decoration: line-through;
}

.product-overview-description {
  font-size: 0.7rem;
}

.product-overview-price {
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.cart-badge {
  position: relative;
  margin-right: -10px;
}

.cart-bar {
  margin-bottom: 20px;
}

.progress-meter {
  background-color: $body-font-color;
}

.container {
  margin: 20px;
}

.cart-details {
  position: relative;
  padding-left: 10px;
}

.cart-name {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-price {
  color: darkgray;
  margin-bottom: 0;
}

.accent-row {
  background-color: whitesmoke;
}
