// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Color palette
$cr-black: #000000;
$cr-grey: #2c2c2c;
$cr-red: #e03616;
$cr-light-grey: #efefef;
$cr-dark-blue: #0496ff;
$cr-green: #69dc9e;
$cr-orange: #faa916;

// Set your colors
$text: $cr-grey;
$primary: $cr-black;
$link: $cr-dark-blue;
$info: $cr-dark-blue;
$success: $cr-green;
$warning: $cr-orange;
$danger: $cr-red;

$footer-background-color: $primary;
$footer-color: $primary-invert;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$family-sans-serif: 'Titillium Web';
$family-primary: 'Titillium Web';

$control-radius: 2px;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

.cr-heading {
  font-weight: bold;
  font-style: italic;
}

.button {
  @extend .is-primary;
}

h1 {
  @extend .is-size-1;
  @extend .cr-heading;
}

h2 {
  @extend .is-size-2;
  @extend .cr-heading;
}
h3 {
  @extend .is-size-3;
  @extend .cr-heading;
}

h4 {
  @extend .is-size-4;
  @extend .cr-heading;
}

h5 {
  @extend .is-size-5;
  @extend .cr-heading;
}
.is-light-grey {
  background: $cr-light-grey;
}
.hero-logo {
  @media screen and (min-width: $desktop) {
    max-width: 400px;
  }
}
#usps a,
.category a {
  color: $text;
}
